<div class="bg-[--color-main]">
    <div class="container mx-auto py-12 flex flex-col items-center">
        <h2 class="text-3xl font-ubuntu-bold mb-6">{{ teamTitle }}</h2>
        <p class="text-[--color-custom] mb-8">{{ teamDescription }}</p>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
          <div *ngFor="let member of teamMembers" class="bg-white rounded-lg shadow-md p-6 flex flex-col items-center">
            <img [src]="member.imageUrl" alt="Team Member" class="w-60 rounded-lg mb-4">
            <div class="text-center">
              <h3 class="text-xl font-ubuntu mb-2 text-[--color-custom]">{{ member.name }} - {{ member.position }}</h3>
              <a [href]="member.linkedinUrl" target="_blank" class="">
                <i class="text-4xl fab fa-linkedin mr-2 text-[--color-custom]"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
</div>
  