<div class="flex items-center p-20 justify-center bg-[--color-main]">
    <div class="container mx-auto text-center py-12">
      <h2 class="text-3xl font-ubuntu-bold text-[--color-custom] mb-6">Nuestra Forma de Pensar</h2>
  
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="bg-[--color-custom] rounded-lg shadow-md p-6">
            <h3 class="text-3xl font-ubuntu-medium text-white">Automatización del Proceso</h3>
          <p class="text-1xl font-ubuntu py-4 text-[--color-main]">Para automatizar el proceso, comenzamos por entender tu necesidad específica, asegurando soluciones precisas y efectivas.</p>
        </div>
        <div class="bg-[--color-custom] rounded-lg shadow-md p-6">
            <h3 class="text-3xl font-ubuntu-medium text-white">Creación de Procesos</h3>
          <p class="text-1xl font-ubuntu py-4 text-[--color-main]">Para crear un proceso, entendemos el objetivo y nos aseguramos de involucrar a tu equipo, garantizando una implementación exitosa y colaborativa.</p>
        </div>
      </div>
    </div>
  </div>
  