<div class="absolute pt-10 md:pt-0 inset-0 flex items-center justify-center overflow-hidden">
    <div class="text-white py-10 px-6 rounded-md shadow-[0_0_60px_60px_rgba(255,255,255,0.3)] relative z-10 text-center">
      <h1 class="text-4xl mb-4 font-ubuntu-bold" #bannerText>¡Transforma tu negocio con Lab-in!</h1>
      <h2 class="text-2xl mb-4 font-ubuntu" #bannerSubText>Tu laboratorio interno</h2>
      <p class="text-lg mb-8 font-ubuntu-light" #bannerParagraph>
        En Lab-in, tomamos tus procesos actuales y los automatizamos.
        <br>
        Ofrecemos soluciones con inteligencia artificial, interconexión de APIs o creación de APIs.
        <br> 
        No te preocupes, ya estamos aquí para impulsar con tecnología y estrategias personalizadas.
      </p>
      <form action="/contact" method="post" class="mb-8" #bannerButton>
        <input type="email" name="email" placeholder="team@lab-in.xyz" class="bg-white text-gray-600 px-4 py-2 rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-transparent">
        <button type="submit" class="bg-indigo-600 hover:bg-indigo-700 text-white px-4 py-2 ml-2 rounded-md font-prompt">Automatiza mis procesos</button>
      </form>
    </div>
</div>
