<section id="services" class="py-20 bg-[--color-custom]">
    <div class="container mx-auto">
      <h2 class="text-3xl font-ubuntu-bold text-center mb-8 text-white">Nuestros Servicios</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <div class="service-card p-6 bg-white shadow-md rounded-lg">
          <h3 class="text-2xl font-ubuntu-medium mb-4 text-[--color-custom]">Consultoría en Optimización</h3>
          <p class="text-gray-600 font-ubuntu py-4">Proveemos consultoría especializada para identificar y eliminar ineficiencias en sus procesos empresariales.</p>
        </div>
        <div class="service-card p-6 bg-white shadow-md rounded-lg">
          <h3 class="text-2xl font-ubuntu-medium mb-4 text-[--color-custom]">Automatización de Procesos</h3>
          <p class="text-gray-600 font-ubuntu">Implementamos soluciones de automatización que permiten a las empresas ahorrar tiempo y recursos.</p>
        </div>
        <div class="service-card p-6 bg-white shadow-md rounded-lg">
          <h3 class="text-2xl font-ubuntu-medium mb-4 text-[--color-custom]">Análisis de Datos</h3>
          <p class="text-gray-600 font-ubuntu">Utilizamos análisis de datos avanzados para proporcionar información valiosa que puede mejorar la toma de decisiones.</p>
        </div>
      </div>
      <div class="flex flex-col items-center mt-8">
        <h4 class="text-[--color-main] font-ubuntu mb-4">La primera llamada tiene un costo de 120 dólares para garantizar compromiso y calidad.</h4>
        <a href="#" class="bg-indigo-600 hover:bg-indigo-700 text-white px-4 py-2 rounded-md font-prompt">Agendar llamada</a>
      </div>
    </div>
  </section>
  